*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.home{
    background-image: url(intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}
.text{
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.text h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.text button{
    color: #20c997;
    border-color: #20c997;
    padding: 0.8rem 2rem;
    font-weight: 500;
    border-width: 2px;
    border-radius: 50rem;
    background-color: transparent;
}
.text button:hover{
    background-color: #20c997;
    color: white;
    cursor: pointer;
}
.nav{
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
}
.logo img{
    padding: 1rem;
}
.pages{
    justify-self: center;
    width: 70%;
}
.pages ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

.pages ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.80rem;
    font-weight: 400;
    padding: 0 0.5rem;
}
.pages ul li a:hover{
    color: #20c997;
}
.end{
    width: 15%;
}
.about{
    width: 100%;
    padding: 3rem 0;
}
.container{
    width: 70%;
    margin: auto;
}
.about-me{
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.about-me h2{
    width: 100%;
    text-transform: uppercase;
    color: #dee3e4;
    font-weight: 600;
    font-size: 5.5rem;
    opacity: 0.4;
    text-align: center;
}
.about-me p{
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    align-self: center;
    position: absolute;
}
.about-me p::after{
    content:"";
    margin: 0 auto;
    position: absolute;
    background-color: #20c997;
    width: 70px;
    bottom: -2;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
}
.service{
    background-color:#f8f9fa;
}
.simone{
    display: flex;
    width: 100%;
}
.text1{
    width:70% ;
    font-size: 0.80rem;
    padding: 0 1rem;
}
.text1 h2{
    margin-bottom: 1rem;
}
.text1 h2 span{
    color: #20c997;
}
.text1 p{
    margin-bottom: 1rem;
}
.list{
    width: 30%;
    font-size: 0.80rem;
    padding: 0 1rem;
}
.list ul li{
    list-style-type: none;
    padding: 0.75rem 0;
    border-bottom: 1px solid #eaeaea;
}
.list ul li span{
    font-weight: 600;
}
.list ul li a{
    text-decoration: none;
    color: #20c997;
}
.list .border{
    border-bottom: 0px;
    margin-bottom: 1rem;
}
.list button{
    background-color: rgb(32, 201, 151);
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    font-weight: 600;
    border-radius: 50rem;
}
.list button a{
    text-decoration: none;
    color: white;
}
.list button:hover{
    cursor: pointer;
    background-color: rgba(15, 114, 85, 0.9);
}
.year{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}
.year .div{
    width: 25%;
    padding: 1rem;
    position: relative;
}
.year .div h4{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.year .div p{
    font-size: 0.80rem;
}
.year .div::after{
    content: "";
    height: 100%;
    border-left: 1px dotted #e0dede;
    top: 0;
    left: -1;
    position: absolute;
}
 .types{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.type{
    width: 45%;
    margin-bottom: 1rem;
}
.type h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.type p{
    margin-bottom: 2rem;
    font-size: 0.90rem;
    font-weight: 400;
} 
.portfolio{
    display: flex;
}
.education{
    width: 50%;
    padding: 1rem;
}
.education h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.education-div{
 border: 1px solid #dee2e6;
 border-radius: 0.25rem;
 padding: 1rem;
 margin-bottom: 1rem;
}
.education-div p{
    font-size: 0.80rem;
    font-weight: 400;
}
.education-div .date{
    color: white;
    background-color: #20c997;
    font-size: 0.70rem;
    font-weight: 400;
    display: inline-block;
    border-radius: 0.20rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}
.education-div h3{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.education-div .red{
    color:#dc3545;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
}
.skill{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem;
}
.percent{
    display: flex;
    margin-bottom: 2rem;
}
.percent1{
    width: 50%;
    padding: 0 1rem;
}
.percent p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.80rem;
    font-weight: 400;
    margin-bottom: 2rem;
    position: relative;
}

.percent1 .p1::after{
    content: "";
    background-color: #20c997;
    width: 65%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent p::before{
    content: "";
    background-color:#e9ecef;
    width: 100%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent1 .p2::after{
    content: "";
    background-color: #20c997;
    width: 95%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent1 .p3::after{
    content: "";
    background-color: #20c997;
    width: 80%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent2{
    /* background-color: lightcoral; */
    width: 50%;
    padding: 0 1rem;
}
.percent2 .p1::after{
    content: "";
    background-color: #20c997;
    width: 70%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent2 .p2::after{
    content: "";
    background-color: #20c997;
    width: 60%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.percent2 .p3::after{
    content: "";
    background-color: #20c997;
    width: 99%;
    position: absolute;
    height: 8px;
    bottom: -15;
    border-radius: 10px;
}
.btn{
    text-align: center;
}
.btn button{
    color: #6c757d;
    border-color: #6c757d;
    padding: 0.8rem 2rem;
    font-weight: 600;
    border-radius: 50rem;
    background-color: white;
}
.btn button:hover{
    cursor: pointer;
    color: white;
    background-color: #6c757d;
}
.list1{
    width: 100%;
    margin-bottom: 2rem;
}
.list1 ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.list1 ul li a{
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 0.80rem;
    font-weight: 400;
}
.list1 ul li a:hover{
    color: #20c997;
}
.catagory{
    display: flex;
    flex-wrap:wrap;
    /* position: relative; */
}

.catagory .img{
    width: 33.333%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap:wrap;
}
.catagory .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center ;
    position: absolute;
    color: white;
    opacity: 0;
}
.catagory .overlay:hover{
    cursor: pointer;
    opacity: 1;
}
.catagory .img img{
    width: 100%;
}
/* .catagory .img1{
    right: 10;
}
.catagory .img3{
    left: 10;
}
.catagory .img4{
    bottom: 340;
   right : 10;
}
.catagory .img5{
    bottom: 340;
    left: 365;
}
.catagory .img6{
    top: -90;
    left: 10;
}
.catagory .img7{
    top: -510;
    left: 355;
} */
.client{
    /* background-color: rebeccapurple; */
    display: flex;
    padding: 1rem;
    margin-bottom: 3rem;
}
.client1{
    margin: 0.5rem;
    background-color: #f8f9fa;
    padding: 2rem;
}
.client1 .image{
    display: flex;
    margin-bottom: 0.5rem;
}
.client1 p{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 0.80rem;
    font-weight: 400;
}
.client1 .image img{
    border-radius: 50%;
}
.contact{
    display: flex;
}
.address{
    width: 20%;
    padding:0 1.5rem;
}
.address h2{
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0 ;
}
.address p{
    font-size: 0.80rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.send{
    width: 80%;
}
.send h2{
    margin:  1rem;
    font-size: 1rem;
    font-weight: 600;
}
.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.name input{
    padding: 0.8rem;
    font-size: 0.8rem;
    color: #656565;
    margin:0 1rem;
    border-width: 0.5px;
    border-color: #dae1e3;
    width: 50%;
}
.form textarea{
    width: 100%;
    margin:0 1rem ;
    padding: 0.8rem;
    border-color: #dae1e3;
    font-size: 0.9rem;
    color: #656565;
    margin-bottom: 1rem;
}
.button{
    width: 100%;
    text-align: center;
}
.button button{
    background-color: rgb(32, 201, 151);
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    border-radius: 50rem;
    color: white;
    margin-bottom: 2rem;
}
.button button:hover{
    cursor: pointer;
    background-color: rgba(15, 114, 85, 0.9);
}
.text2{
    width: 100%;
    display: flex;
}
.text3{
    width: 50%;
    font-size: 0.80rem;
    font-weight: 400;
}
.text3 a{
    text-decoration: none;
    color: #20c997;
}
.privacy{
    width: 50%;
}
.privacy ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.privacy ul li a{
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 0.80rem;
    font-weight: 400;
}
.privacy ul li a:hover{
    color: #20c997;
}


@media screen and (max-width: 601px) {
    .simone{
        flex-wrap: wrap;
    }
    .container{
        width: 90%;
    }
    .about-me h2{
        font-size: 4rem;
    }
    .pages{
        visibility: hidden;
    }
    .text1{
        width: 100%;
        text-align: center;
    }
    .list{
        width: 100%;
    }
    .year{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .div{
        width: 50%;
    }
    .type{
        width: 100%;
    }
    .portfolio{
        flex-wrap: wrap;
    }
    .education{
        width: 100%;
    }
    .percent{
        flex-wrap: wrap;
    }
    .percent1{
        width: 100%;
    }
    .percent2{
        width: 100%;
    }
    .client{
        flex-wrap: wrap;
    }
    .client1{
        width: 100%;
    }
    .contact{
        flex-wrap: wrap;
    }
    .address{
        width: 100%;
        text-align: center;
    }
    .send{
        text-align: center;
        width: 100%;
    }
    .name{
        flex-wrap: wrap;
    }
    .name input{
        width: 100%;
        margin-bottom: 1rem;
    }
    .text2{
        flex-wrap: wrap;
    }
    .text3{
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .privacy{
        width: 100%;
    }
    .privacy ul{
        justify-content: center;
    }
    .catagory{
        flex-wrap: wrap;
    }
    .catagory .img{
        width: 50%;
    }
}
/* @media screen and (mix-width: 769px) {
    .simone{
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
    }
    .text1{
        width: 100%;
        text-align: center;
    }
    .list{
        width: 100%;
    }
    .year{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .div{
        width: 100%;
    }
    .type{
        width: 500%;
    }
    .portfolio{
        flex-wrap: wrap;
    }
    .education{
        width: 50%;
    }
    .percent{
        flex-wrap: wrap;
    }
    .percent1{
        width: 50%;
    }
    .percent2{
        width: 50%;
    }
    .client{
        flex-wrap: wrap;
    }
    .client1{
        width: 50%;
    }
    .contact{
        flex-wrap: wrap;
    }
    .address{
        width: 50%;
        text-align: center;
    }
    .send{
         width: 50%;
    }
    .name{
        flex-wrap: wrap;
    }
    .name input{
        width: 100%;
        margin-bottom: 1rem;
    }
    .text2{
        flex-wrap: wrap;
    }
} */
